/*-----------------REGLAS GENERALES-----------------*/
body{
    padding: 0;
    width: min-content;
    margin: auto;
}

#box{
    padding:0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

p{
    text-align: justify;
}

#gitComand{
    width: fit-content;
    padding: 2%;
    background-color: rgb(219, 217, 214);

}
#logo{
    height:auto;
    width: 50%;
    margin-left: 50%;
}

#diagram{
    
}

/*------------------- ENCABEZADO--------------------*/

header{
   align-items: center;
   padding: 0;

}

/*-------------------- CUERPO-----------------------*/

#left{
    margin: 0;
    width: 48%;

}

#right{
    margin: 0;
    width: 48%;

}

/*----------------- PIE DE PAGINA ------------------*/

footer{
    margin-top: auto;
}